<div class="block">
    <div class="block--header">
      <h1 class="block--title">Discover innovative ways to decorate</h1>
      <p class="block--description">We provide unmatched quality, comfort, and style for property owners across the country. 
        Our experts combine form and function in bringing your vision to life. Create a room in your 
        own style with our collection and make your property a reflection of you and what you love.</p>
    </div>
    <div class="block--action">
      <a href="#" class="link-arrow block--action-btn">Shop now</a>
    </div>
  </div>

  <div class="block">
    <div class="block--header">
      <h2 class="block--title">Discover innovative ways to decorate</h2>
      <p class="block--description">We provide unmatched quality, comfort, and style for property owners across the country. 
        Our experts combine form and function in bringing your vision to life. Create a room in your 
        own style with our collection and make your property a reflection of you and what you love.</p>
    </div>
  </div>