<nav class="nav">
    <button class="btn btn-icon btn-burger">
      <span class="sr-only">Button burger</span>
    </button>
    <img src="./images/logo.svg" alt="A logo of the Room company">
    <ul class="list list-inline">
      <li class="list__item">
        <a href="#" class="link-nav link-nav--white">home</a>
      </li>
      <li class="list__item">
        <a href="#" class="link-nav link-nav--white">shop</a>
      </li>
      <li class="list__item">
        <a href="#" class="link-nav link-nav--white">about</a>
      </li>
      <li class="list__item">
        <a href="#" class="link-nav link-nav--white">contact</a>
      </li>
    </ul>
</nav>