<nav class="mobile-nav">
    <button class="btn btn-icon btn-close">
      <span class="sr-only">Button close</span>
    </button>
    <ul class="list list-inline">
      <li class="list__item">
        <a href="#" class="link-nav link-nav--black">home</a>
      </li>
      <li class="list__item">
        <a href="#" class="link-nav link-nav--black">shop</a>
      </li>
      <li class="list__item">
        <a href="#" class="link-nav link-nav--black">about</a>
      </li>
      <li class="list__item">
        <a href="#" class="link-nav link-nav--black">contact</a>
      </li>
  </ul>
</nav>
